@import 'reset';
@import 'grid';
@import 'variaveis-mixins';

nav {
  background: $primary-color;
  max-width: 100%;
  padding: 10px 0;
}

.navbar {
  &__brand {
    @include d(m) {
      width: grid(10);
    }

    img {
      color: $assistant-color;
      display: block;
      border-radius: 100%;
      float: left;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: em(22);
    }
    p {
      @include type-1(24);
      display: inline-block;
      color: $secondary-color;
      margin: 15px 10px;
    }
  }

  @include d(s) {
    display: flex;
    flex-wrap: wrap;
    & > div {
      display: flex;
      justify-content: center;
    }
  }
}

.card {
  background: $assistant-color;
  padding: 10px;
  border-radius: $radius;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  
  .input, .btn {
    margin: 10px;
  }

  &--result {
    padding: 20px 20px 10px;
    margin-top: 20px;
    margin-bottom: 40px;
  }
}

.input {
  @include type-1(14);
  display: inline-block;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  background: $secondary-color;
  color: $assistant-color; 
  outline: none;
  border: none;
  &::placeholder {
    color: $assistant-color;
  }

  &--group {
    width: calc(50% - 10px);
    
    &:last-child {
      margin-left: 20px !important;
    }
  }
}

.btn {
  @include type-1(14);
  background: $primary-color;
  color: $assistant-color;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  height: 40px;
  padding-top: 11px;
  cursor: pointer;
}

.table {
  display: block;

  &__header {
    border-bottom: 2px solid #d0d6d8;    
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 15px;

    p {
      @include type-1(18);
      color: $primary-color;

      &:nth-child(1) {
        min-width: 35px !important;
      }
      &:nth-child(2) {
        min-width: calc(100% - 155px) !important;
      }
      &:nth-child(3) {
        min-width: 70px !important;
      }
      &:nth-child(4) {
        min-width: 50px !important;
      }
    }
  }
  &__row {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    padding: 10px 0;

    p {
      @include type-1(18);
      color: $secondary-color !important;

      &:nth-child(1) {
        min-width: 35px !important;
      }
      &:nth-child(2) {
        min-width: calc(100% - 155px) !important;
        padding-right: 10px;
      }
      &:nth-child(3) {
        min-width: 70px !important;
      }
      &:nth-child(4) {
        min-width: 50px !important;
      }
    }

    & + .table__row {
      border-top: 2px solid #d0d6d8;
    }
  }
}

.title {
  @include type-1(24);
  color: $primary-color;
  margin: 40px 10px 5px;

  @include d(s) {
    margin-right: 0;
    margin-left: 0;
  }
}

.subtitle {
  @include type-2(18);
  color: $secondary-color;
  margin: 0px 10px 20px;

  &::after {
    content: '';
    display: block;
    background: #d0d6d8;
    height: 2px;
    border-radius: 10px;
    margin-top: 5px;
  }

  &--register {
    &::after {
      width: 223.11px;
    }
  }
  &--search {
    &::after {
      width: 438.25px;
    }
  }

  @include d(s) {
    margin-right: 0;
    margin-left: 0;
  }
}